<form method="post">
	<p>
		<label>Email: </label><input type="text" name="email"></input>
	</p>
	<p>
		<label>Password: </label><input type="password" name="password"></input>
	</p>
	<input type="submit"></input>
	<a href="/signup">Sign up</a>
</form>

<script>
</script>
