<form method="post">
	<p>
		<label>Email: </label><input type="text" name="email"></input>
	</p>
	<p>
		<label>Name: </label><input type="text" name="name"></input>
	</p>
	<p>
		<label>Password: </label><input type="password" name="password"></input>
	</p>
	<p>
		<label>Confirm: </label><input type="password" name="confirm"></input>
	</p>
	<input type="submit"></input>
</form>

<script>
</script>
